.nav-bar-outer {
  width: 75%;
  height: 80px;
  margin: auto;
  background-color: rgb(7, 42, 56);
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border-radius: 30px;
  background: linear-gradient(
    0deg,
    rgb(7, 42, 56) 0%,
    rgb(7, 42, 56) 85%,
    rgb(22, 138, 184) 90%,
    rgb(7, 42, 56) 100%
  );
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding-left: 5px;
}

.nav-links {
  padding-top: 16px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  border: solid;
  border-color: black;
  border-width: 0px;
  border-radius: 5px;
  height: 100%;
  width: 99%;
}
.nav-bar-logo {
  margin-right: 110px;
  margin-top: auto;
}
.nav-bar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}
.nav-text {
  color: rgb(203, 253, 255);
  border: solid;
  border-width: 0;
  width: 50%;
  margin: auto;
  padding-bottom: 10px;
  background-color: rgb(7, 42, 56);
  border-radius: 10px;
}
.nav-icon {
  color: white;
  width: 70px;
  height: 40px;
  transition: height 0.2s;
}

.nav-icon:hover {
  height: 60px;
  width: 70px;
}
.active-nav-icon {
  height: 60px;
  width: 70px;
}

@media screen and (max-width: 760px) {
  .nav-bar-logo {
    display: none;
  }
  .nav-bar-outer {
    height: 50px;
    width: 95%;
  }
  .nav-icon {
    color: white;
    width: 35px;
    height: 20px;
    transition: height 0.2s;
  }
  .nav-icon:hover {
    height: 30px;
    width: 35px;
  }
  .nav-links {
    padding-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    border: solid;
    border-color: black;
    border-width: 0px;
    border-radius: 5px;
    height: 100%;
    width: 99%;
  }
  .nav-text {
    font-size: 9;
    padding-bottom: 4px;
  }
}
