.list {
  z-index: 2;
  position: fixed;
  /* background-color: #d32f2f; */
  background: linear-gradient(
    90deg,
    #d32f2f 0%,
    #d32f2f 85%,
    #dda0a0 90%,
    #d14141 100%
  );
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 70px;
  height: 80vh;
  margin-top: 10vh;
  border-radius: 25px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.nav-links {
  padding-top: 18px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  border: solid;
  border-color: black;
  border-width: 0px;
  border-radius: 5px;
  height: 100%;
  width: 99%;
}

.nav-icon {
  color: white;
  width: 70px;
  height: 40px;
  transition: height 0.2s;
}

.nav-icon:hover {
  height: 60px;
  width: 70px;
}
.active-nav-icon {
  height: 60px;
  width: 70px;
}
.nav-text {
  color: white;
}

@media screen and (max-width: 760px) {
  .list {
    z-index: 2;
    position: fixed;
    /* background-color: #d32f2f; */
    background: linear-gradient(
      0deg,
      #d32f2f 0%,
      #d32f2f 85%,
      #dda0a0 90%,
      #d14141 100%
    );
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 80%;
    justify-content: center;
    margin-top: 1%;
    margin-left: 10%;
  }
  .nav-icon {
    color: white;
    width: 35px;
    height: 20px;
    transition: height 0.2s;
  }
  .nav-icon:hover {
    height: 30px;
    width: 35px;
  }
  .nav-links {
    padding-top: 0px;
    text-decoration: none;
    text-align: center;

    font-size: 12px;
    border: solid;
    border-color: black;
    border-width: 0px;
    border-radius: 5px;
    height: 100%;
    width: 99%;
  }
  .nav-text {
    display: none;
  }
}
